<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: header"/>
<body class="page-body" data-url="http://neon.dev">
<div class="page-container">

    <div th:include="/fragments/sidebar-menu :: sidebar" th:remove="tag"/>


    <div class="main-content">

        <div class="row">
            <!-- Profile Info and Notifications -->
            <div class="col-md-6 col-sm-8 clearfix">
                <!--<div th:include="fragments/notifications :: notifications"/>-->
            </div>
            <!-- Raw Links -->
            <div class="col-md-6 col-sm-4 clearfix hidden-xs">
                <ul class="list-inline links-list pull-right">
                    <li class="sep"></li>
                    <li>
                        <div th:include="fragments/logout-links :: link" th:remove="tag"/>
                    </li>
                </ul>
            </div>
        </div>

        <hr/>
        <ol class="breadcrumb bc-3">
            <li>
                <a href="/index.html"><i class="entypo-home"></i>Home</a>
            </li>
            <li>
                <a href="/index.html">Administration</a>
            </li>
            <li class="active">
                <strong>Bond</strong>
            </li>
            <li class="active">
                <strong>List</strong>
            </li>
        </ol>

        <br/>
        <table class="table table-bordered table-striped datatable" id="table-2">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>CUSIP</th>
                <th>Description</th>
                <th>Type</th>
                <th>Coupon</th>
                <th>Maturity Date</th>
                <th>Rating</th>
                <th>Quantity</th>
                <th>Exchange</th>
            </tr>
            </thead>

            <tbody class='container'>
            <tr th:each="bond : ${bonds}">
                <td><a th:href="@{/bond/{id}(id=${bond.id})}">Edit</a></td>
                <td th:text="${bond.cusip}"/>
                <td th:text="${bond.description}"/>
                <td th:text="${bond.bondType}"/>
                <td th:text="${bond.coupon}"/>
                <td th:text="${bond.maturityDate}"/>
                <td th:text="${bond.rating}"/>
                <td th:text="${bond.allocationPercentage} + '%'"/>
                <td th:text="${bond.exchange.identifier}"/>
                <!--<td>-->
                    <!--<button class="btn btn-primary edit"-->
                            <!--th:onclick="'javascript:handleEdit(\'' + ${bond.id} + '\');'">-->
                        <!--<i class="entypo-pencil icon-white"></i>&nbsp;Edit-->
                    <!--</button>-->
                    <!--<button class="btn btn-primary delete"-->
                            <!--th:onclick="'javascript:handleDelete(\'' + ${bond.id} + '\', \'' + ${bond.name} + '\');'">-->
                        <!--<i class="entypo-erase icon-white"></i>&nbsp;Delete-->
                    <!--</button>-->
                <!--</td>-->
            </tr>
            </tbody>
        </table>
        <button class="btn btn-success" onclick="handleCreate()">
            <i class="entypo-list-add icon-white"></i>&nbsp;New Bond
        </button>
        <br/>
        <!-- Footer -->
        <footer th:replace="/fragments/footer :: footer"/>
    </div>
</div>

<script type="text/javascript">
    /*<![CDATA[*/

    function getContextPath() {
        return window.location.pathname.substring(0, window.location.pathname.indexOf("/",2));
    }

    <!-- Handle Edit -->
    function handleEdit(id) {
        var url = getContextPath() + "/bond/" + id;
        window.location.href = url;
    }

    <!-- Handle Create -->
    function handleCreate() {
        var url = getContextPath() + "/bond/0";
        window.location.href = url;
    }

    <!-- Handle Delete Modal -->
    function handleDelete(bond_id, bond_name) {
        document.getElementById('id').value = bond_id;
        document.getElementById('bond-name').innerHTML = bond_name;
        $('#deleteModal').modal('show');
    }

    /*]]>*/
</script>

<th:block th:include="/fragments/footer-links :: links"/>

<!-- Delete modal -->
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Bond</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete <label name="bond-name" id="bond-name" value=""/>?
            </div>
            <form action="#" th:action="@{/bond/delete}" th:object="${bond}" method="post">
                <input type="hidden" name="id" id="id" value=""/>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info" id="submit">Confirm Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>