<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: header"/>
<body class="page-body" data-url="http://neon.dev">
<div class="page-container">
    <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

    <div th:include="fragments/sidebar-menu :: sidebar" th:remove="tag"/>

    <div class="main-content">

        <div class="row">
            <!-- Raw Links -->
            <ul class="list-inline links-list pull-right">
                <li class="sep"></li>
                <li>
                    <div th:include="fragments/logout-links :: link" th:remove="tag"/>
                </li>
            </ul>
            <div th:inline="text">Logged in User: [[${#httpServletRequest.remoteUser}]]</div>
        </div>

        <hr/>

        <div>
            <h2>Error!</h2>
            <br/>
                <p th:text="${url}">URL: </p>
            <br/>
            Exception: <p th:text="${exception}"> </p>
        </div>
        <br/>
        <br/>

        <div class="row">
        </div>
        <!-- Footer -->
        <footer th:replace="fragments/footer :: footer"/>
    </div>
</div>
<script type="text/javascript">
    /*<![CDATA[*/
    /*]]>*/
</script>
<th:block th:include="fragments/index-footer-links :: links"/>
</body>
</html>