<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: header}"/>
<body class="page-body" data-url="http://neon.dev">
<div class="page-container">
    <div th:insert="~{fragments/sidebar-menu :: sidebar}" th:remove="tag"/>
    <div class="main-content">
        <div class="row">
            <!-- Profile Info and Notifications -->
            <div class="col-md-6 col-sm-8 clearfix">
                <!--<div th:insert="~{fragments/notifications :: notifications}"/>-->
            </div>
            <!-- Raw Links -->
            <div class="col-md-6 col-sm-4 clearfix hidden-xs">
                <ul class="list-inline links-list pull-right">
                    <li class="sep"></li>
                    <li>
                        <div th:insert="~{fragments/logout-links :: link}" th:remove="tag"/>
                    </li>
                </ul>
            </div>
        </div>

        <hr/>
        <ol class="breadcrumb bc-3">
            <li>
                <a href = "/"><i class="entypo-home"></i>Home</a>
            </li>

            <li class="active">
                <a href="/future">Future</a>
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>
        <br/>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">&nbsp;Edit Future</div>
                    <div class="panel-body">
                        <form action="#" th:action="@{/future/edit}" th:object="${future}" method="post">
                            <input type="hidden" id="id" th:field="${future.id}"/>
                            <div class="form-group">
                                <label>Category</label>
                                <input type="text" class="form-control" th:field="*{category}" placeholder="Category}"/>
                                <p class="help-block">The Category</p>
                            </div>
                            <div class="form-group">
                                <label>Product</label>
                                <input type="text" class="form-control" th:field="*{product}" placeholder="Product}"/>
                                <p class="help-block">The Product</p>
                            </div>
                            <div class="form-group">
                                <label>Symbol</label>
                                <input type="text" class="form-control" th:field="*{symbol}" placeholder="Symobol}"/>
                                <p class="help-block">The Symbol</p>
                            </div>
                            <div class="form-group">
                                <label>Expiration date</label>
                                <input type="text" class="form-control" th:field="*{expirationDate}" placeholder="Expiration Date}"/>
                                <p class="help-block">The Expiration Date</p>
                            </div>
                            <div class="form-group">
                                <label>Allocation Percentage</label>
                                <input type="text" class="form-control" th:field="*{allocationPercentage}" placeholder="Allocation Percentage}"/>
                                <p class="help-block">The Allocation Percentage</p>
                            </div>
                            <div class="form-group">
                                <label for="select.exchange.id">Exchanges</label> <br/>
                                <select id="select.exchange.id" multiple="false" name="select.exchange.id">
                                    <option th:each="exchange : ${exchangeList}" th:value="${exchange.id}"
                                            th:text="${exchange.identifier}"
                                            th:selected="${future.exchange == exchange}"/>
                                </select>
                                <p class="help-block">Select Exchange for this Future</p>
                            </div>
                           <button type="submit" class="btn btn-success" th:if="${future.id != null}" >Edit</button>
                           <button type="submit" class="btn btn-success" th:if="${future.id == null}" >Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <!-- Footer -->
        <footer th:replace="~{fragments/footer :: footer}"/>
    </div>
</div>
<th:block th:insert="~{fragments/footer-links :: links}"/>
</body>
</html>