<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: header}"/>
<body class="page-body" data-url="http://neon.dev">
<div class="page-container">

    <div th:insert="~{fragments/sidebar-menu :: sidebar}" th:remove="tag"/>


    <div class="main-content">

        <div class="row">
            <!-- Profile Info and Notifications -->
            <div class="col-md-6 col-sm-8 clearfix">
                <!--<div th:insert="~{fragments/notifications :: notifications}"/>-->
            </div>
            <!-- Raw Links -->
            <div class="col-md-6 col-sm-4 clearfix hidden-xs">
                <ul class="list-inline links-list pull-right">
                    <li class="sep"></li>
                    <li>
                        <div th:insert="~{fragments/logout-links :: link}" th:remove="tag"/>
                    </li>
                </ul>
            </div>
        </div>

        <hr/>
        <ol class="breadcrumb bc-3">
            <li>
                <a href = "/"><i class="entypo-home"></i>Home</a>
            </li>

            <li class="active">
                <strong>Option</strong>
            </li>
            <li class="active">
                <strong>List</strong>
            </li>
        </ol>

        <br/>
        <table class="table table-bordered table-striped datatable" id="table-2">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Contract Name</th>
                <th>Underlying</th>
                <th>Exp Date</th>
                <th>Type</th>
                <th>Strike</th>
                <th>Quantity</th>
                <th>Exchange</th>
            </tr>
            </thead>

            <tbody class='container'>
            <tr th:each="option : ${options}">
                <td><a th:href="@{/option/{id}(id=${option.id})}">Edit</a></td>
                <td th:text="${option.name}"/>
                <td th:text="${option.contractName}"/>
                <td th:text="${option.underlyingSymbol}"/>
                <td th:text="${option.expirationDate}"/>
                <td th:text="${option.optionType}"/>
                <td th:text="${option.strikePrice}"/>
                <td th:text="${option.allocationPercentage} + '%'"/>
                <td th:text="${option.exchange.identifier}"/>
                <!--<td>-->
                    <!--<button class="btn btn-primary edit"-->
                            <!--th:onclick="'javascript:handleEdit(\'' + ${option.id} + '\');'">-->
                        <!--<i class="entypo-pencil icon-white"></i>&nbsp;Edit-->
                    <!--</button>-->
                    <!--<button class="btn btn-primary delete"-->
                            <!--th:onclick="'javascript:handleDelete(\'' + ${option.id} + '\', \'' + ${option.name} + '\');'">-->
                        <!--<i class="entypo-erase icon-white"></i>&nbsp;Delete-->
                    <!--</button>-->
                <!--</td>-->
            </tr>
            </tbody>
        </table>
        <button class="btn btn-success" onclick="handleCreate()">
            <i class="entypo-list-add icon-white"></i>&nbsp;New Option
        </button>
        <br/>
        <!-- Footer -->
        <footer th:replace="~{fragments/footer :: footer}"/>
    </div>
</div>

<script type="text/javascript">
    /*<![CDATA[*/
    function getContextPath() {
        return window.location.pathname.substring(0, window.location.pathname.indexOf("/",2));
    }

    <!-- Handle Edit -->
    function handleEdit(id) {
        var url = getContextPath() + "/option/" + id;
        window.location.href = url;
    }

    <!-- Handle Create -->
    function handleCreate() {
        var url = getContextPath() + "/option/0";
        window.location.href = url;
    }

    <!-- Handle Delete Modal -->
    function handleDelete(option_id, option_name) {
        document.getElementById('id').value = option_id;
        document.getElementById('option-name').innerHTML = option_name;
        $('#deleteModal').modal('show');
    }

    /*]]>*/
</script>

<th:block th:insert="~{fragments/footer-links :: links}"/>

<!-- Delete modal -->
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Option</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete <label name="option-name" id="option-name" value=""/>?
            </div>
            <form action="#" th:action="@{/option/delete}" th:object="${option}" method="post">
                <input type="hidden" name="id" id="id" value=""/>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info" id="submit">Confirm Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>