<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: header"/>
<body class="page-body" data-url="http://neon.dev">
<div class="page-container">

    <div th:include="/fragments/sidebar-menu :: sidebar" th:remove="tag"/>

    <div class="main-content">

        <div class="row">
            <!-- Profile Info and Notifications -->
            <div class="col-md-6 col-sm-8 clearfix">
                <!--<div th:include="fragments/notifications :: notifications"/>-->
            </div>
            <!-- Raw Links -->
            <div class="col-md-6 col-sm-4 clearfix hidden-xs">
                <ul class="list-inline links-list pull-right">
                    <li class="sep"></li>
                    <li>
                        <div th:include="fragments/logout-links :: link" th:remove="tag"/>
                    </li>
                </ul>
            </div>
        </div>

        <hr/>
        <ol class="breadcrumb bc-3">
            <li>
                <a href="/index.html"><i class="entypo-home"></i>Home</a>
            </li>
            <li>
                <a href="/index.html">Administration</a>
            </li>
            <li class="active">
                <strong>Portfolio</strong>
            </li>
            <li class="active">
                <strong>List</strong>
            </li>
        </ol>

        <br/>
        <table class="table table-bordered table-striped datatable" id="table-1">
            <thead>
            <tr>
                <th colspan="4">Equities</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Ticker</th>
                <th>Exchange</th>
                <th>Allocation %</th>
            </tr>
            </thead>
            <tbody class='container'>
            <tr th:each="equity : ${equities}">
                <td th:text="${equity.name}"/>
                <td th:text="${equity.ticker}"/>
                <td th:text="${equity.exchange.identifier}"/>
                <td th:text="${equity.allocationPercentage} + '%'"/>
            </tr>
            <th colspan="4">
                <button class="btn btn-success" onclick="handleEquityAllocations()">
                    <i class="entypo-list-add icon-white"></i>&nbsp;Modify Equity Allocations
                </button>
            </th>
            </tbody>
        </table>
        <p></p>
        <table class="table table-bordered table-striped datatable" id="table-2">
            <thead>
            <tr>
                <th colspan="8">Options</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Contract Name</th>
                <th>Underlying</th>
                <th>Exp. Date</th>
                <th>Type</th>
                <th>Strike</th>
                <th>Exchange</th>
                <th>Allocation %</th>
            </tr>
            </thead>

            <tbody class='container'>
            <tr th:each="option : ${options}">
                <td th:text="${option.name}"/>
                <td th:text="${option.contractName}"/>
                <td th:text="${option.underlyingSymbol}"/>
                <td th:text="${option.expirationDate}"/>
                <td th:text="${option.OptionType}"/>
                <td th:text="${option.strikePrice}"/>
                <td th:text="${option.exchange.identifier}"/>
                <td th:text="${option.allocationPercentage} + '%'"/>
            </tr>
            <th colspan="8">
                <button class="btn btn-success" onclick="handleOptionAllocations()">
                    <i class="entypo-list-add icon-white"></i>&nbsp;Modify Option Allocations
                </button>
            </th>
            </tbody>
        </table>
        <p></p>
        <table class="table table-bordered table-striped datatable" id="table-3">
            <thead>
            <tr>
                <th colspan="8">Bonds</th>
            </tr>
            <tr>
                <th>CUSIP</th>
                <th>Description</th>
                <th>Type</th>
                <th>Coupon</th>
                <th>Maturity Date</th>
                <th>Rating</th>
                <th>Exchange</th>
                <th>Allocation %</th>
            </tr>
            </thead>

            <tbody class='container'>
            <tr th:each="bond : ${bonds}">
                <td th:text="${bond.cusip}"/>
                <td th:text="${bond.description}"/>
                <td th:text="${bond.bondType}"/>
                <td th:text="${bond.coupon}"/>
                <td th:text="${bond.maturityDate}"/>
                <td th:text="${bond.rating}"/>
                <td th:text="${bond.exchange.identifier}"/>
                <td th:text="${bond.allocationPercentage} + '%'"/>
            </tr>
            <th colspan="8">
                <button class="btn btn-success" onclick="handleBondAllocations()">
                    <i class="entypo-list-add icon-white"></i>&nbsp;Modify Bond Allocations
                </button>
            </th>
        </tbody>
        </table>
        <p></p>
        <table class="table table-bordered table-striped datatable" id="table-4">
            <thead>
            <tr>
                <th colspan="6">Futures</th>
            </tr>
            <tr>
                <th>Category</th>
                <th>Product</th>
                <th>Symbol</th>
                <th>Expiration Date</th>
                <th>Exchange</th>
                <th>Allocation %</th>
            </tr>
            </thead>

            <tbody class='container'>
            <tr th:each="future : ${futures}">
                <td th:text="${future.category}"/>
                <td th:text="${future.product}"/>
                <td th:text="${future.symbol}"/>
                <td th:text="${future.expirationDate}"/>
                <td th:text="${future.exchange.identifier}"/>
                <td th:text="${future.allocationPercentage} + '%'"/>
            </tr>
            <th colspan="6">
                <button class="btn btn-success" onclick="handleFutureAllocations()">
                    <i class="entypo-list-add icon-white"></i>&nbsp;Modify Future Allocations
                </button>
            </th>
            </tbody>
        </table>
        <p></p>
        <!-- Footer -->
        <footer th:replace="/fragments/footer :: footer"/>
    </div>
</div>

<script type="text/javascript">
    /*<![CDATA[*/
    function getContextPath() {
        return window.location.pathname.substring(0, window.location.pathname.indexOf("/",2));
    }

    <!-- Handle Equity Allocation -->
    function handleEquityAllocations() {
        var url = getContextPath() + "/portfolio/equity/edit";
        window.location.href = url;
    }

    <!-- Handle Option Allocation -->
    function handleOptionAllocations() {
        var url = getContextPath() + "/portfolio/option/edit";
        window.location.href = url;
    }
    <!-- Handle Bond Allocation -->
    function handleBondAllocations() {
        var url = getContextPath() + "/portfolio/bond/edit";
        window.location.href = url;
    }
    <!-- Handle Future Allocation -->
    function handleFutureAllocations() {
        var url = getContextPath() + "/portfolio/future/edit";
        window.location.href = url;
    }

    /*]]>*/
</script>

<th:block th:include="/fragments/footer-links :: links"/>

</body>
</html>