<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: header"/>
<body class="page-body" data-url="http://neon.dev">
<div class="page-container">
    <div th:include="/fragments/sidebar-menu :: sidebar" th:remove="tag"/>
    <div class="main-content">
        <div class="row">
            <!-- Profile Info and Notifications -->
            <div class="col-md-6 col-sm-8 clearfix">
                <!--<div th:include="fragments/notifications :: notifications"/>-->
            </div>
            <!-- Raw Links -->
            <div class="col-md-6 col-sm-4 clearfix hidden-xs">
                <ul class="list-inline links-list pull-right">
                    <li class="sep"></li>
                    <li>
                        <div th:include="fragments/logout-links :: link" th:remove="tag"/>
                    </li>
                </ul>
            </div>
        </div>

        <hr/>
        <ol class="breadcrumb bc-3">
            <li>
                <a href="/index.html"><i class="entypo-home"></i>Home</a>
            </li>
            <li>
                <a href="/index.html">Administration</a>
            </li>
            <li class="active">
                <a href="/topic">Topic</a>
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>
        <br/>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">&nbsp;Edit Topic</div>
                    <div class="panel-body">
                        <form action="#" th:action="@{/topic/edit}" th:object="${topic}" method="post">
                            <input type="hidden" id="id" th:field="${topic.id}"/>

                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" th:field="*{name}"
                                       placeholder="Enter Topic name" autofocus="true"/>

                                <p class="help-block">The name of your Topic</p>
                            </div>
                            <div class="form-group" th:if="${topic.id != null}">
                                <label>Namespace</label>
                                <input type="text" class="form-control" th:field="*{namespace.name}" readonly="true"/>

                                <p class="help-block">The Namespace this Topic is associated with (cannot be
                                    changed)</p>
                            </div>
                            <div class="form-group" th:if="${topic.id == null}">
                                <label>Namespace</label> <br/>
                                <select id="select.namespace.id" name="select.namespace.id">
                                    <option th:each="namespace : ${namespacesList}" th:value="${namespace.id}"
                                            th:text="${namespace.name}"/>
                                </select>
                                <p class="help-block">Select the Namespace this Topic is associated with</p>
                            </div>
                            <button type="submit" class="btn btn-success" th:if="${topic.id != null}">Edit</button>
                            <button type="submit" class="btn btn-success" th:if="${topic.id == null}">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <!-- Footer -->
        <footer th:replace="/fragments/footer :: footer"/>
    </div>
</div>
<th:block th:include="fragments/footer-links :: links"/>
</body>
</html>